<html>
<head>
<title>User Administration</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="stylesheet" href="../../static/css/admin.css">
<script src="../../socket.io/socket.io.js"></script>
<script src="../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../static/js/require-kernel.js"></script>
<script type="text/javascript"
	src="../../javascripts/lib/ep_etherpad-lite/static/js/ace2_common.js?callback=require.define"></script>
<script type="text/javascript">
	(function() {
		var pathComponents = location.pathname.split('/');
		var baseURL = pathComponents.slice(0, pathComponents.length - 3).join(
				'/')
				+ '/';
		require.setRootURI(baseURL + "javascripts/src");
		require.setLibraryURI(baseURL + "javascripts/lib");
		require.setGlobalKeyPath("require");
		var plugins = require('ep_etherpad-lite/static/js/pluginfw/client_plugins');
		var hooks = require('ep_etherpad-lite/static/js/pluginfw/hooks');
		plugins.baseURL = baseURL;
		plugins.update(function() {
			hooks.plugins = plugins;
			hooks.aCallAll('documentReady', 'admin/user_pad_groups');
		});
	}());
</script>
<link rel="stylesheet" href="../../static/plugins/ep_user_pad/static/css/useradministration.css" type="text/css" />
<% e.begin_block("styles"); %>

<%e.end_block(); %>
</head>
<body>
	<div id="wrapper">
		<div class="menu">
			<h1>Etherpad lite</h1>
			<ul>
				<% e.begin_block("adminMenu"); %>
				<li><a href="../plugins">Plugin manager</a></li>
				<li><a href="../settings">Settings</a></li>
				<li><a href="../plugins/info">Troubleshooting information</a></li> <%
				e.end_block(); %>
			</ul>
		</div>

		<div class="innerwrapper">
		
			<h2>User Administration</h2>
			<% e.begin_block("useradminmenu"); %>
				<div class = "leftwrapper">
					<li><a href="../userpadadmin/groups">Groups</a></li>
					<li><a href="../userpadadmin/users">User</a></li>
				</div>
			<%e.end_block(); %>
			<div>
			<form name="Add Group" id="add-group">
				<input type="text" placeholder="Name of new group" id="name-of-group">
				<input type="button" value="Add Group" id="addGroupButton">
				<a id="textfield-group"></a>
			</form>
			</div>
			<div class = "rightwrapper">
				<div class='group-results-div'>
				<table>
					<thead>
						<tr>
							<th class="header" data-label="Id">ID<a class="sort up"></a><a class="sort down"></a></th>
							<th class="header" data-label="group-name">Group Name<a class="sort up"></a><a class="sort down"></a></th>
							<th class="header" data-label="#authors">#Authors<a class="sort up"></a><a class="sort down"></a></th>
							<th class="header" data-label="delete">Delete</th>
							<td></td>
						</tr>
					</thead>
					<tbody class="template">
						<tr>
							<td class="ID" data-label="Id"></td>
							<td class="Name" data-label="name"></td>
							<td class="Authors" data-label="authors"></td>
							<td class="delete" data-label="Delete"><input class="deleteButton" type="button" value="Delete"></td>
						</tr>
					</tbody>
					<tbody class='group-results'>
						
					</tbody>
				</table>
			</div>
		</div>

		</div>
	</div>
</body>

</html>